#===============================================================================
# IO Constraints
#===============================================================================

#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i"   LOC = R1;
NET "vme_rst_n_i"     LOC = P4;
NET "vme_retry_oe_o"  LOC = R4;
NET "vme_retry_n_o"   LOC = AB2;
NET "vme_lword_n_b"   LOC = M7;
NET "vme_iackout_n_o" LOC = N3;
NET "vme_iackin_n_i"  LOC = P7;
NET "vme_iack_n_i"    LOC = N1;
NET "vme_dtack_oe_o"  LOC = T1;
NET "vme_dtack_n_o"   LOC = R5;
NET "vme_ds_n_i[1]"   LOC = Y6;
NET "vme_ds_n_i[0]"   LOC = Y7;
NET "vme_data_oe_n_o" LOC = P1;
NET "vme_data_dir_o"  LOC = P2;
NET "vme_berr_o"      LOC = R3;
NET "vme_as_n_i"      LOC = P6;
NET "vme_addr_oe_n_o" LOC = N4;
NET "vme_addr_dir_o"  LOC = N5;
NET "vme_irq_o[7]"    LOC = R7;
NET "vme_irq_o[6]"    LOC = AH2;
NET "vme_irq_o[5]"    LOC = AF2;
NET "vme_irq_o[4]"    LOC = N9;
NET "vme_irq_o[3]"    LOC = N10;
NET "vme_irq_o[2]"    LOC = AH4;
NET "vme_irq_o[1]"    LOC = AG4;
NET "vme_gap_i"       LOC = M6;
NET "vme_ga_i[4]"     LOC = V9;
NET "vme_ga_i[3]"     LOC = V10;
NET "vme_ga_i[2]"     LOC = AJ1;
NET "vme_ga_i[1]"     LOC = AH1;
NET "vme_ga_i[0]"     LOC = V7;
NET "vme_data_b[31]"  LOC = AK3;
NET "vme_data_b[30]"  LOC = AH3;
NET "vme_data_b[29]"  LOC = T8;
NET "vme_data_b[28]"  LOC = T9;
NET "vme_data_b[27]"  LOC = AK4;
NET "vme_data_b[26]"  LOC = AJ4;
NET "vme_data_b[25]"  LOC = W6;
NET "vme_data_b[24]"  LOC = W7;
NET "vme_data_b[23]"  LOC = AB6;
NET "vme_data_b[22]"  LOC = AB7;
NET "vme_data_b[21]"  LOC = W9;
NET "vme_data_b[20]"  LOC = W10;
NET "vme_data_b[19]"  LOC = AK5;
NET "vme_data_b[18]"  LOC = AH5;
NET "vme_data_b[17]"  LOC = AD6;
NET "vme_data_b[16]"  LOC = AC6;
NET "vme_data_b[15]"  LOC = AA6;
NET "vme_data_b[14]"  LOC = AA7;
NET "vme_data_b[13]"  LOC = T6;
NET "vme_data_b[12]"  LOC = T7;
NET "vme_data_b[11]"  LOC = AG5;
NET "vme_data_b[10]"  LOC = AE5;
NET "vme_data_b[9]"   LOC = Y11;
NET "vme_data_b[8]"   LOC = W11;
NET "vme_data_b[7]"   LOC = AF6;
NET "vme_data_b[6]"   LOC = AE6;
NET "vme_data_b[5]"   LOC = Y8;
NET "vme_data_b[4]"   LOC = Y9;
NET "vme_data_b[3]"   LOC = AE7;
NET "vme_data_b[2]"   LOC = AD7;
NET "vme_data_b[1]"   LOC = AA9;
NET "vme_data_b[0]"   LOC = AA10;
NET "vme_am_i[5]"     LOC = V8;
NET "vme_am_i[4]"     LOC = AG3;
NET "vme_am_i[3]"     LOC = AF3;
NET "vme_am_i[2]"     LOC = AF4;
NET "vme_am_i[1]"     LOC = AE4;
NET "vme_am_i[0]"     LOC = AK2;
NET "vme_addr_b[31]"  LOC = T2;
NET "vme_addr_b[30]"  LOC = T3;
NET "vme_addr_b[29]"  LOC = T4;
NET "vme_addr_b[28]"  LOC = U1;
NET "vme_addr_b[27]"  LOC = U3;
NET "vme_addr_b[26]"  LOC = U4;
NET "vme_addr_b[25]"  LOC = U5;
NET "vme_addr_b[24]"  LOC = V1;
NET "vme_addr_b[23]"  LOC = V2;
NET "vme_addr_b[22]"  LOC = W1;
NET "vme_addr_b[21]"  LOC = W3;
NET "vme_addr_b[20]"  LOC = AA4;
NET "vme_addr_b[19]"  LOC = AA5;
NET "vme_addr_b[18]"  LOC = Y1;
NET "vme_addr_b[17]"  LOC = Y2;
NET "vme_addr_b[16]"  LOC = Y3;
NET "vme_addr_b[15]"  LOC = Y4;
NET "vme_addr_b[14]"  LOC = AC1;
NET "vme_addr_b[13]"  LOC = AC3;
NET "vme_addr_b[12]"  LOC = AD1;
NET "vme_addr_b[11]"  LOC = AD2;
NET "vme_addr_b[10]"  LOC = AB3;
NET "vme_addr_b[9]"   LOC = AB4;
NET "vme_addr_b[8]"   LOC = AD3;
NET "vme_addr_b[7]"   LOC = AD4;
NET "vme_addr_b[6]"   LOC = AC4;
NET "vme_addr_b[5]"   LOC = AC5;
NET "vme_addr_b[4]"   LOC = N7;
NET "vme_addr_b[3]"   LOC = N8;
NET "vme_addr_b[2]"   LOC = AE1;
NET "vme_addr_b[1]"   LOC = AE3;

NET "vme_write_n_i"   IOSTANDARD = "LVCMOS33";
NET "vme_rst_n_i"     IOSTANDARD = "LVCMOS33";
NET "vme_retry_oe_o"  IOSTANDARD = "LVCMOS33";
NET "vme_retry_n_o"   IOSTANDARD = "LVCMOS33";
NET "vme_lword_n_b"   IOSTANDARD = "LVCMOS33";
NET "vme_iackout_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_iackin_n_i"  IOSTANDARD = "LVCMOS33";
NET "vme_iack_n_i"    IOSTANDARD = "LVCMOS33";
NET "vme_dtack_oe_o"  IOSTANDARD = "LVCMOS33";
NET "vme_dtack_n_o"   IOSTANDARD = "LVCMOS33";
NET "vme_ds_n_i[*]"   IOSTANDARD = "LVCMOS33";
NET "vme_data_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_data_dir_o"  IOSTANDARD = "LVCMOS33";
NET "vme_berr_o"      IOSTANDARD = "LVCMOS33";
NET "vme_as_n_i"      IOSTANDARD = "LVCMOS33";
NET "vme_addr_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_addr_dir_o"  IOSTANDARD = "LVCMOS33";
NET "vme_irq_o[*]"    IOSTANDARD = "LVCMOS33";
NET "vme_gap_i"       IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[*]"     IOSTANDARD = "LVCMOS33";
NET "vme_data_b[*]"   IOSTANDARD = "LVCMOS33";
NET "vme_am_i[*]"     IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[*]"   IOSTANDARD = "LVCMOS33";

#----------------------------------------
# DDR Memory
#----------------------------------------

# DDR0 (bank 4)
NET "ddr_rzq_b[0]"     LOC = L7;
NET "ddr_we_n_o[0]"    LOC = F4;
NET "ddr_udqs_p_b[0]"  LOC = K2;
NET "ddr_udqs_n_b[0]"  LOC = K1;
NET "ddr_udm_o[0]"     LOC = K4;
NET "ddr_reset_n_o[0]" LOC = G5;
NET "ddr_ras_n_o[0]"   LOC = C1;
NET "ddr_odt_o[0]"     LOC = E4;
NET "ddr_ldqs_p_b[0]"  LOC = J5;
NET "ddr_ldqs_n_b[0]"  LOC = J4;
NET "ddr_ldm_o[0]"     LOC = K3;
NET "ddr_cke_o[0]"     LOC = C4;
NET "ddr_ck_p_o[0]"    LOC = E3;
NET "ddr_ck_n_o[0]"    LOC = E1;
NET "ddr_cas_n_o[0]"   LOC = B1;
NET "ddr_dq_b[15]"     LOC = M1;
NET "ddr_dq_b[14]"     LOC = M2;
NET "ddr_dq_b[13]"     LOC = L1;
NET "ddr_dq_b[12]"     LOC = L3;
NET "ddr_dq_b[11]"     LOC = L4;
NET "ddr_dq_b[10]"     LOC = L5;
NET "ddr_dq_b[9]"      LOC = M3;
NET "ddr_dq_b[8]"      LOC = M4;
NET "ddr_dq_b[7]"      LOC = H1;
NET "ddr_dq_b[6]"      LOC = H2;
NET "ddr_dq_b[5]"      LOC = G1;
NET "ddr_dq_b[4]"      LOC = G3;
NET "ddr_dq_b[3]"      LOC = J1;
NET "ddr_dq_b[2]"      LOC = J3;
NET "ddr_dq_b[1]"      LOC = H3;
NET "ddr_dq_b[0]"      LOC = H4;
NET "ddr_ba_o[2]"      LOC = F3;
NET "ddr_ba_o[1]"      LOC = D1;
NET "ddr_ba_o[0]"      LOC = D2;
NET "ddr_a_o[13]"      LOC = B5;
NET "ddr_a_o[12]"      LOC = A4;
NET "ddr_a_o[11]"      LOC = G4;
NET "ddr_a_o[10]"      LOC = D5;
NET "ddr_a_o[9]"       LOC = A2;
NET "ddr_a_o[8]"       LOC = B2;
NET "ddr_a_o[7]"       LOC = B3;
NET "ddr_a_o[6]"       LOC = F1;
NET "ddr_a_o[5]"       LOC = F2;
NET "ddr_a_o[4]"       LOC = C5;
NET "ddr_a_o[3]"       LOC = E5;
NET "ddr_a_o[2]"       LOC = A3;
NET "ddr_a_o[1]"       LOC = D3;
NET "ddr_a_o[0]"       LOC = D4;

# DDR1 (bank 5)
NET "ddr_rzq_b[1]"     LOC = G25;
NET "ddr_we_n_o[1]"    LOC = E26;
NET "ddr_udqs_p_b[1]"  LOC = K28;
NET "ddr_udqs_n_b[1]"  LOC = K30;
NET "ddr_udm_o[1]"     LOC = J27;
NET "ddr_reset_n_o[1]" LOC = C26;
NET "ddr_ras_n_o[1]"   LOC = K26;
NET "ddr_odt_o[1]"     LOC = E30;
NET "ddr_ldqs_p_b[1]"  LOC = J29;
NET "ddr_ldqs_n_b[1]"  LOC = J30;
NET "ddr_ldm_o[1]"     LOC = J28;
NET "ddr_cke_o[1]"     LOC = B29;
NET "ddr_ck_p_o[1]"    LOC = E27;
NET "ddr_ck_n_o[1]"    LOC = E28;
NET "ddr_cas_n_o[1]"   LOC = K27;
NET "ddr_dq_b[31]"     LOC = M30;
NET "ddr_dq_b[30]"     LOC = M28;
NET "ddr_dq_b[29]"     LOC = M27;
NET "ddr_dq_b[28]"     LOC = M26;
NET "ddr_dq_b[27]"     LOC = L30;
NET "ddr_dq_b[26]"     LOC = L29;
NET "ddr_dq_b[25]"     LOC = L28;
NET "ddr_dq_b[24]"     LOC = L27;
NET "ddr_dq_b[23]"     LOC = F30;
NET "ddr_dq_b[22]"     LOC = F28;
NET "ddr_dq_b[21]"     LOC = G28;
NET "ddr_dq_b[20]"     LOC = G27;
NET "ddr_dq_b[19]"     LOC = G30;
NET "ddr_dq_b[18]"     LOC = G29;
NET "ddr_dq_b[17]"     LOC = H30;
NET "ddr_dq_b[16]"     LOC = H28;
NET "ddr_ba_o[5]"      LOC = D26;
NET "ddr_ba_o[4]"      LOC = C27;
NET "ddr_ba_o[3]"      LOC = D27;
NET "ddr_a_o[27]"      LOC = A28;
NET "ddr_a_o[26]"      LOC = B30;
NET "ddr_a_o[25]"      LOC = A26;
NET "ddr_a_o[24]"      LOC = F26;
NET "ddr_a_o[23]"      LOC = A27;
NET "ddr_a_o[22]"      LOC = B27;
NET "ddr_a_o[21]"      LOC = C29;
NET "ddr_a_o[20]"      LOC = H27;
NET "ddr_a_o[19]"      LOC = H26;
NET "ddr_a_o[18]"      LOC = F27;
NET "ddr_a_o[17]"      LOC = E29;
NET "ddr_a_o[16]"      LOC = C30;
NET "ddr_a_o[15]"      LOC = D30;
NET "ddr_a_o[14]"      LOC = D28;

# DDR IO standards and terminations
NET "ddr_udqs_p_b[*]"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_udqs_n_b[*]"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ldqs_p_b[*]"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ldqs_n_b[*]"  IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ck_p_o[*]"    IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_ck_n_o[*]"    IOSTANDARD = "DIFF_SSTL15_II";
NET "ddr_rzq_b[*]"     IOSTANDARD = "SSTL15_II";
NET "ddr_we_n_o[*]"    IOSTANDARD = "SSTL15_II";
NET "ddr_udm_o[*]"     IOSTANDARD = "SSTL15_II";
NET "ddr_reset_n_o[*]" IOSTANDARD = "SSTL15_II";
NET "ddr_ras_n_o[*]"   IOSTANDARD = "SSTL15_II";
NET "ddr_odt_o[*]"     IOSTANDARD = "SSTL15_II";
NET "ddr_ldm_o[*]"     IOSTANDARD = "SSTL15_II";
NET "ddr_cke_o[*]"     IOSTANDARD = "SSTL15_II";
NET "ddr_cas_n_o[*]"   IOSTANDARD = "SSTL15_II";
NET "ddr_dq_b[*]"      IOSTANDARD = "SSTL15_II";
NET "ddr_ba_o[*]"      IOSTANDARD = "SSTL15_II";
NET "ddr_a_o[*]"       IOSTANDARD = "SSTL15_II";

NET "ddr_dq_b[*]"     IN_TERM = NONE;
NET "ddr_ldqs_p_b[*]" IN_TERM = NONE;
NET "ddr_ldqs_n_b[*]" IN_TERM = NONE;
NET "ddr_udqs_p_b[*]" IN_TERM = NONE;
NET "ddr_udqs_n_b[*]" IN_TERM = NONE;

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_i"             LOC = AD28;
NET "clk_20m_vcxo_i"      LOC = V26;
NET "clk_125m_pllref_n_i" LOC = AB30;
NET "clk_125m_pllref_p_i" LOC = AB28;
NET "clk_125m_gtp_p_i"    LOC = B19;
NET "clk_125m_gtp_n_i"    LOC = A19;

NET "rst_n_i"             IOSTANDARD = "LVCMOS33";
NET "clk_20m_vcxo_i"      IOSTANDARD = "LVCMOS33";
NET "clk_125m_pllref_n_i" IOSTANDARD = "LVDS_25";
NET "clk_125m_pllref_n_i" IOSTANDARD = "LVDS_25";
NET "clk_125m_gtp_p_i"    IOSTANDARD = "LVDS_25";
NET "clk_125m_gtp_n_i"    IOSTANDARD = "LVDS_25";

#----------------------------------------
# SFP slot
#----------------------------------------
NET "sfp_txp_o"         LOC = B23;
NET "sfp_txn_o"         LOC = A23;
NET "sfp_rxp_i"         LOC = D22;
NET "sfp_rxn_i"         LOC = C22;
NET "sfp_los_i"         LOC = W25;
NET "sfp_mod_def0_i"    LOC = Y26;
NET "sfp_mod_def1_b"    LOC = Y27;
NET "sfp_mod_def2_b"    LOC = AA24;
NET "sfp_rate_select_o" LOC = W24;
NET "sfp_tx_disable_o"  LOC = AA25;
NET "sfp_tx_fault_i"    LOC = AA27;

NET "sfp_los_i"         IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def0_i"    IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def1_b"    IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def2_b"    IOSTANDARD = "LVCMOS33";
NET "sfp_rate_select_o" IOSTANDARD = "LVCMOS33";
NET "sfp_tx_disable_o"  IOSTANDARD = "LVCMOS33";
NET "sfp_tx_fault_i"    IOSTANDARD = "LVCMOS33";

#----------------------------------------
# DAC interfaces (for VCXO)
#----------------------------------------
NET "pll20dac_din_o"    LOC = U28;
NET "pll20dac_sclk_o"   LOC = AA28;
NET "pll20dac_sync_n_o" LOC = N28;
NET "pll25dac_din_o"    LOC = P25;
NET "pll25dac_sclk_o"   LOC = N27;
NET "pll25dac_sync_n_o" LOC = P26;

NET "pll20dac_din_o"    IOSTANDARD = "LVCMOS33";
NET "pll20dac_sclk_o"   IOSTANDARD = "LVCMOS33";
NET "pll20dac_sync_n_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_din_o"    IOSTANDARD = "LVCMOS33";
NET "pll25dac_sclk_o"   IOSTANDARD = "LVCMOS33";
NET "pll25dac_sync_n_o" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# SPI FLASH
#----------------------------------------
NET "spi_ncs_o"  LOC = AG27;
NET "spi_sclk_o" LOC = AG26;
NET "spi_mosi_o" LOC = AH26;
NET "spi_miso_i" LOC = AH27;

NET "spi_ncs_o"  IOSTANDARD = "LVCMOS33";
NET "spi_sclk_o" IOSTANDARD = "LVCMOS33";
NET "spi_mosi_o" IOSTANDARD = "LVCMOS33";
NET "spi_miso_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# UART
#----------------------------------------
NET "uart_txd_o" LOC = U27;
NET "uart_rxd_i" LOC = U25;

NET "uart_txd_o" IOSTANDARD = "LVCMOS33";
NET "uart_rxd_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# 1-wire thermometer + unique ID
#----------------------------------------
NET "carrier_onewire_b" LOC = AC30;

NET "carrier_onewire_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Front panel LEDs
#----------------------------------------
NET "fp_led_line_oen_o[0]" LOC = AD26;
NET "fp_led_line_oen_o[1]" LOC = AD27;
NET "fp_led_line_o[0]"     LOC = AC27;
NET "fp_led_line_o[1]"     LOC = AC28;
NET "fp_led_column_o[0]"   LOC = AE30;
NET "fp_led_column_o[1]"   LOC = AE27;
NET "fp_led_column_o[2]"   LOC = AE28;
NET "fp_led_column_o[3]"   LOC = AF28;

NET "fp_led_line_oen_o[*]" IOSTANDARD="LVCMOS33";
NET "fp_led_line_o[*]"     IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[*]"   IOSTANDARD="LVCMOS33";

#----------------------------------------
# Front panel IOs
#----------------------------------------
NET "fp_gpio1_o"      LOC = R30;
NET "fp_gpio2_o"      LOC = T28;
NET "fp_gpio3_o"      LOC = U29;
NET "fp_gpio4_o"      LOC = V27;
NET "fp_gpio1_a2b_o"  LOC = R29;
NET "fp_gpio2_a2b_o"  LOC = T30;
NET "fp_gpio34_a2b_o" LOC = V28;
NET "fp_term_en_o[1]" LOC = AB1;
NET "fp_term_en_o[2]" LOC = W5;
NET "fp_term_en_o[3]" LOC = W4;
NET "fp_term_en_o[4]" LOC = V4;

NET "fp_gpio1_o"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio2_o"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio3_o"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio4_o"      IOSTANDARD = "LVCMOS33";
NET "fp_gpio1_a2b_o"  IOSTANDARD = "LVCMOS33";
NET "fp_gpio2_a2b_o"  IOSTANDARD = "LVCMOS33";
NET "fp_gpio34_a2b_o" IOSTANDARD = "LVCMOS33";
NET "fp_term_en_o[*]" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# PCB revision
#----------------------------------------
NET "pcbrev_i[4]" LOC = AF17;
NET "pcbrev_i[3]" LOC = AE17;
NET "pcbrev_i[2]" LOC = AD18;
NET "pcbrev_i[1]" LOC = AE20;
NET "pcbrev_i[0]" LOC = AD20;

NET "pcbrev_i[*]" IOSTANDARD = "LVCMOS25";

#----------------------------------------
# Carrier I2C EEPROM
#----------------------------------------
NET "carrier_scl_b" LOC = AC29;
NET "carrier_sda_b" LOC = AA30;

NET "carrier_scl_b" IOSTANDARD = "LVCMOS33";
NET "carrier_sda_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# FMC slots management
#----------------------------------------
NET "fmc_prsnt_m2c_n_i[0]" LOC = N30;
NET "fmc_prsnt_m2c_n_i[1]" LOC = AE29;
NET "fmc_scl_b[0]"         LOC = P28;
NET "fmc_scl_b[1]"         LOC = W29;
NET "fmc_sda_b[0]"         LOC = P30;
NET "fmc_sda_b[1]"         LOC = V30;

NET "fmc_prsnt_m2c_n_i[*]" IOSTANDARD = "LVCMOS33";
NET "fmc_scl_b[*]"         IOSTANDARD = "LVCMOS33";
NET "fmc_sda_b[*]"         IOSTANDARD = "LVCMOS33";

#----------------------------------------
# FMC slots
#----------------------------------------

# FMC0
NET "adc_ext_trigger_n_i[0]"  LOC = "A15";
NET "adc_ext_trigger_p_i[0]"  LOC = "B15";
NET "adc_dco_n_i[0]"          LOC = "A16";
NET "adc_dco_p_i[0]"          LOC = "C16";
NET "adc_fr_n_i[0]"           LOC = "G21";
NET "adc_fr_p_i[0]"           LOC = "H21";
NET "adc_outa_n_i[0]"         LOC = "E17";
NET "adc_outa_p_i[0]"         LOC = "F17";
NET "adc_outb_n_i[0]"         LOC = "G16";
NET "adc_outb_p_i[0]"         LOC = "H16";
NET "adc_outa_n_i[1]"         LOC = "E19";
NET "adc_outa_p_i[1]"         LOC = "F19";
NET "adc_outb_n_i[1]"         LOC = "F18";
NET "adc_outb_p_i[1]"         LOC = "G18";
NET "adc_outa_n_i[2]"         LOC = "K21";
NET "adc_outa_p_i[2]"         LOC = "L21";
NET "adc_outb_n_i[2]"         LOC = "L20";
NET "adc_outb_p_i[2]"         LOC = "M20";
NET "adc_outa_n_i[3]"         LOC = "F22";
NET "adc_outa_p_i[3]"         LOC = "G22";
NET "adc_outb_n_i[3]"         LOC = "L19";
NET "adc_outb_p_i[3]"         LOC = "M19";
NET "adc_spi_din_i[0]"        LOC = "F11";
NET "adc_spi_dout_o[0]"       LOC = "K11";
NET "adc_spi_sck_o[0]"        LOC = "L11";
NET "adc_spi_cs_adc_n_o[0]"   LOC = "J13";
NET "adc_spi_cs_dac1_n_o[0]"  LOC = "H11";
NET "adc_spi_cs_dac2_n_o[0]"  LOC = "G11";
NET "adc_spi_cs_dac3_n_o[0]"  LOC = "J12";
NET "adc_spi_cs_dac4_n_o[0]"  LOC = "H12";
NET "adc_gpio_dac_clr_n_o[0]" LOC = "H13";
NET "adc_gpio_led_acq_o[0]"   LOC = "K12";
NET "adc_gpio_led_trig_o[0]"  LOC = "L12";
NET "adc_gpio_ssr_ch1_o[0]"   LOC = "L14";
NET "adc_gpio_ssr_ch1_o[1]"   LOC = "K14";
NET "adc_gpio_ssr_ch1_o[2]"   LOC = "L13";
NET "adc_gpio_ssr_ch1_o[3]"   LOC = "E11";
NET "adc_gpio_ssr_ch1_o[4]"   LOC = "G10";
NET "adc_gpio_ssr_ch1_o[5]"   LOC = "F10";
NET "adc_gpio_ssr_ch1_o[6]"   LOC = "F9";
NET "adc_gpio_ssr_ch2_o[0]"   LOC = "F15";
NET "adc_gpio_ssr_ch2_o[1]"   LOC = "F14";
NET "adc_gpio_ssr_ch2_o[2]"   LOC = "F13";
NET "adc_gpio_ssr_ch2_o[3]"   LOC = "E13";
NET "adc_gpio_ssr_ch2_o[4]"   LOC = "G12";
NET "adc_gpio_ssr_ch2_o[5]"   LOC = "M13";
NET "adc_gpio_ssr_ch2_o[6]"   LOC = "F12";
NET "adc_gpio_ssr_ch3_o[0]"   LOC = "F23";
NET "adc_gpio_ssr_ch3_o[1]"   LOC = "E23";
NET "adc_gpio_ssr_ch3_o[2]"   LOC = "F21";
NET "adc_gpio_ssr_ch3_o[3]"   LOC = "E21";
NET "adc_gpio_ssr_ch3_o[4]"   LOC = "G20";
NET "adc_gpio_ssr_ch3_o[5]"   LOC = "F20";
NET "adc_gpio_ssr_ch3_o[6]"   LOC = "E15";
NET "adc_gpio_ssr_ch4_o[0]"   LOC = "J22";
NET "adc_gpio_ssr_ch4_o[1]"   LOC = "H22";
NET "adc_gpio_ssr_ch4_o[2]"   LOC = "E25";
NET "adc_gpio_ssr_ch4_o[3]"   LOC = "D25";
NET "adc_gpio_ssr_ch4_o[4]"   LOC = "D24";
NET "adc_gpio_ssr_ch4_o[5]"   LOC = "B25";
NET "adc_gpio_ssr_ch4_o[6]"   LOC = "C24";
NET "adc_gpio_si570_oe_o[0]"  LOC = "A25";
NET "adc_si570_scl_b[0]"      LOC = "H14";
NET "adc_si570_sda_b[0]"      LOC = "J14";
NET "adc_one_wire_b[0]"       LOC = "E9";

# FMC1
NET "adc_ext_trigger_n_i[1]"  LOC = "AD16";
NET "adc_ext_trigger_p_i[1]"  LOC = "AC16";
NET "adc_dco_n_i[1]"          LOC = "AK17";
NET "adc_dco_p_i[1]"          LOC = "AJ17";
NET "adc_fr_n_i[1]"           LOC = "AH8";
NET "adc_fr_p_i[1]"           LOC = "AG8";
NET "adc_outa_n_i[4]"         LOC = "AA15";
NET "adc_outa_p_i[4]"         LOC = "Y15";
NET "adc_outb_n_i[4]"         LOC = "AA17";
NET "adc_outb_p_i[4]"         LOC = "Y17";
NET "adc_outa_n_i[5]"         LOC = "AC14";
NET "adc_outa_p_i[5]"         LOC = "AB14";
NET "adc_outb_n_i[5]"         LOC = "AD15";
NET "adc_outb_p_i[5]"         LOC = "AC15";
NET "adc_outa_n_i[6]"         LOC = "AA14";
NET "adc_outa_p_i[6]"         LOC = "Y14";
NET "adc_outb_n_i[6]"         LOC = "Y13";
NET "adc_outb_p_i[6]"         LOC = "W14";
NET "adc_outa_n_i[7]"         LOC = "AE12";
NET "adc_outa_p_i[7]"         LOC = "AD12";
NET "adc_outb_n_i[7]"         LOC = "AF11";
NET "adc_outb_p_i[7]"         LOC = "AE11";
NET "adc_spi_din_i[1]"        LOC = "AB17";
NET "adc_spi_dout_o[1]"       LOC = "AA21";
NET "adc_spi_sck_o[1]"        LOC = "Y21";
NET "adc_spi_cs_adc_n_o[1]"   LOC = "W20";
NET "adc_spi_cs_dac1_n_o[1]"  LOC = "W19";
NET "adc_spi_cs_dac2_n_o[1]"  LOC = "Y19";
NET "adc_spi_cs_dac3_n_o[1]"  LOC = "AA19";
NET "adc_spi_cs_dac4_n_o[1]"  LOC = "AB19";
NET "adc_gpio_dac_clr_n_o[1]" LOC = "Y20";
NET "adc_gpio_led_acq_o[1]"   LOC = "AC22";
NET "adc_gpio_led_trig_o[1]"  LOC = "AA22";
NET "adc_gpio_ssr_ch1_o[7]"   LOC = "AC19";
NET "adc_gpio_ssr_ch1_o[8]"   LOC = "AD19";
NET "adc_gpio_ssr_ch1_o[9]"   LOC = "AC20";
NET "adc_gpio_ssr_ch1_o[10]"  LOC = "AD17";
NET "adc_gpio_ssr_ch1_o[11]"  LOC = "AB21";
NET "adc_gpio_ssr_ch1_o[12]"  LOC = "AC21";
NET "adc_gpio_ssr_ch1_o[13]"  LOC = "AC24";
NET "adc_gpio_ssr_ch2_o[7]"   LOC = "AE19";
NET "adc_gpio_ssr_ch2_o[8]"   LOC = "AF23";
NET "adc_gpio_ssr_ch2_o[9]"   LOC = "AE24";
NET "adc_gpio_ssr_ch2_o[10]"  LOC = "AF24";
NET "adc_gpio_ssr_ch2_o[11]"  LOC = "AD22";
NET "adc_gpio_ssr_ch2_o[12]"  LOC = "AB20";
NET "adc_gpio_ssr_ch2_o[13]"  LOC = "AE22";
NET "adc_gpio_ssr_ch3_o[7]"   LOC = "AB12";
NET "adc_gpio_ssr_ch3_o[8]"   LOC = "AC12";
NET "adc_gpio_ssr_ch3_o[9]"   LOC = "AE15";
NET "adc_gpio_ssr_ch3_o[10]"  LOC = "AF15";
NET "adc_gpio_ssr_ch3_o[11]"  LOC = "Y16";
NET "adc_gpio_ssr_ch3_o[12]"  LOC = "AB16";
NET "adc_gpio_ssr_ch3_o[13]"  LOC = "AF19";
NET "adc_gpio_ssr_ch4_o[7]"   LOC = "AC11";
NET "adc_gpio_ssr_ch4_o[8]"   LOC = "AD11";
NET "adc_gpio_ssr_ch4_o[9]"   LOC = "AE13";
NET "adc_gpio_ssr_ch4_o[10]"  LOC = "AF13";
NET "adc_gpio_ssr_ch4_o[11]"  LOC = "AJ15";
NET "adc_gpio_ssr_ch4_o[12]"  LOC = "AD10";
NET "adc_gpio_ssr_ch4_o[13]"  LOC = "AK15";
NET "adc_gpio_si570_oe_o[1]"  LOC = "AE10";
NET "adc_si570_scl_b[1]"      LOC = "AF21";
NET "adc_si570_sda_b[1]"      LOC = "AE21";
NET "adc_one_wire_b[1]"       LOC = "AD24";

# IO standards
NET "adc_ext_trigger_?_i[*]"  IOSTANDARD = "LVDS_25";
NET "adc_dco_?_i[*]"          IOSTANDARD = "LVDS_25";
NET "adc_fr_?_i[*]"           IOSTANDARD = "LVDS_25";
NET "adc_out?_?_i[*]"         IOSTANDARD = "LVDS_25";
NET "adc_spi_din_i[*]"        IOSTANDARD = "LVCMOS25";
NET "adc_spi_dout_o[*]"       IOSTANDARD = "LVCMOS25";
NET "adc_spi_sck_o[*]"        IOSTANDARD = "LVCMOS25";
NET "adc_spi_cs_adc_n_o[*]"   IOSTANDARD = "LVCMOS25";
NET "adc_spi_cs_dac?_n_o[*]"  IOSTANDARD = "LVCMOS25";
NET "adc_gpio_dac_clr_n_o[*]" IOSTANDARD = "LVCMOS25";
NET "adc_gpio_led_acq_o[*]"   IOSTANDARD = "LVCMOS25";
NET "adc_gpio_led_trig_o[*]"  IOSTANDARD = "LVCMOS25";
NET "adc_gpio_ssr_ch?_o[*]"   IOSTANDARD = "LVCMOS25";
NET "adc_gpio_si570_oe_o[*]"  IOSTANDARD = "LVCMOS25";
NET "adc_si570_scl_b[*]"      IOSTANDARD = "LVCMOS25";
NET "adc_si570_sda_b[*]"      IOSTANDARD = "LVCMOS25";
NET "adc_one_wire_b[*]"       IOSTANDARD = "LVCMOS25";

#----------------------------------------
# IOBs
#----------------------------------------

INST "gen_fmc_mezzanine[*].*/cmp_fmc_spi/*/Wrapped_SPI/shift/s_out"     IOB = FALSE;
INST "gen_fmc_mezzanine[*].*/cmp_fmc_spi/*/Wrapped_SPI/clgen/clk_out"   IOB = FALSE;
INST "gen_fmc_mezzanine[*].*/cmp_fmc_onewire/*/Wrapped_1wire/owr_oen_1" IOB = FALSE;

#===============================================================================
# Timing Constraints
#===============================================================================

#----------------------------------------
# Clocks
#----------------------------------------
NET "clk_125m_pllref_p_i" TNM_NET = clk_125m_ref;
NET "clk_125m_pllref_n_i" TNM_NET = clk_125m_ref;

TIMESPEC TS_clk_125m_pllref = PERIOD "clk_125m_ref" 8 ns HIGH 50%;

NET "clk_125m_gtp_p_i" TNM_NET = clk_125m_gtp;
NET "clk_125m_gtp_n_i" TNM_NET = clk_125m_gtp;

TIMESPEC TS_clk_125m_gtp = PERIOD "clk_125m_gtp" 8 ns HIGH 50%;

NET "clk_20m_vcxo_i" TNM_NET = "clk_20m_vcxo";

TIMESPEC TS_clk_20m_vcxo = PERIOD "clk_20m_vcxo" 50 ns HIGH 50%;

NET "cmp_xwrc_board_svec/cmp_xwrc_platform/gen_phy_spartan6.cmp_gtp/ch1_gtp_clkout_int<1>" TNM_NET = wrc_gtp_clk;

TIMESPEC TS_wrc_gtp_clk = PERIOD "wrc_gtp_clk" 8 ns HIGH 50%;

NET "adc_dco_p_i[0]" TNM_NET = adc0_dco;
NET "adc_dco_n_i[0]" TNM_NET = adc0_dco;

TIMESPEC TS_adc0_dco = PERIOD "adc0_dco" 2.5 ns HIGH 50%;

NET "adc_dco_p_i[1]" TNM_NET = adc1_dco;
NET "adc_dco_n_i[1]" TNM_NET = adc1_dco;

TIMESPEC TS_adc1_dco = PERIOD "adc1_dco" 2.5 ns HIGH 50%;

#----------------------------------------
# WR DMTD tweaks
#----------------------------------------

INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_feedback_dmtds*/clk_in" TNM = skew_limit;
INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_ref_dmtds*/clk_in"      TNM = skew_limit;

TIMESPEC TS_dmtd_skew = FROM "skew_limit" TO "FFS" 1 ns DATAPATHONLY;

#----------------------------------------
# Xilinx MCB tweaks
#----------------------------------------

# These are suggested by the Xilinx-generated MCB.
# More info in the UCF file found in the "user_design/par" of the generated core.
NET "gen_ddr_ctrl*/*/c?_pll_lock"                                     TIG;
NET "gen_ddr_ctrl*/*/memc?_mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "gen_ddr_ctrl*/*/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL"  TIG;
NET "gen_ddr_ctrl*/*/mcb_soft_calibration_inst/SELFREFRESH_MCB_REQ"   TIG;

#----------------------------------------
# Asynchronous resets
#----------------------------------------

# Ignore async reset inputs to reset synchronisers
NET "*/gc_reset_async_in" TIG;

# Ignore async reset to DDR controller
NET "ddr_rst[*]" TPTHRU = ddr_rst;
TIMESPEC TS_ddr_rst_tig = FROM FFS THRU ddr_rst TIG;

#----------------------------------------
# Cross-clock domain sync
#----------------------------------------

# Declaration of domains
NET "clk_sys_62m5"                                                      TNM_NET = sys_clk_62_5;
NET "clk_ref_125m"                                                      TNM_NET = clk_125m_pllref;
NET "clk_ddr_333m"                                                      TNM_NET = ddr_clk;
NET "cmp_xwrc_board_svec/clk_pll_dmtd"                                  TNM_NET = clk_dmtd;
NET "cmp_xwrc_board_svec/phy8_to_wrc_rx_clk"                            TNM_NET = phy_clk;
NET "gen_fmc_mezzanine[0].*/cmp_fmc_adc_100Ms_core/fs_clk"              TNM_NET = fs0_clk;
NET "gen_fmc_mezzanine[1].*/cmp_fmc_adc_100Ms_core/fs_clk"              TNM_NET = fs1_clk;
NET "gen_ddr_ctrl[?].*/*/memc4_infrastructure_inst/mcb_drp_clk_bufg_in" TNM_NET = ddr_clk;
NET "gen_ddr_ctrl[?].*/*/memc4_mcb_raw_wrapper_inst/ioi_drp_clk"        TNM_NET = ddr_clk;

TIMEGRP "sys_clk" = "sys_clk_62_5" "clk_125m_pllref";

# Exceptions for crossings via gc_sync_ffs
NET "*/gc_sync_ffs_in" TNM = FFS "sync_ffs";

TIMEGRP "sys_sync_ffs"  = "sync_ffs" EXCEPT "sys_clk";
TIMEGRP "dmtd_sync_ffs" = "sync_ffs" EXCEPT "clk_dmtd";
TIMEGRP "ddr_sync_ffs"  = "sync_ffs" EXCEPT "ddr_clk";
TIMEGRP "phy_sync_ffs"  = "sync_ffs" EXCEPT "phy_clk";
TIMEGRP "adc0_sync_ffs" = "sync_ffs" EXCEPT "fs0_clk";
TIMEGRP "adc1_sync_ffs" = "sync_ffs" EXCEPT "fs1_clk";

TIMESPEC TS_sys_sync_ffs  = FROM sys_clk   TO "sys_sync_ffs"  TIG;
TIMESPEC TS_dmtd_sync_ffs = FROM clk_dmtd  TO "dmtd_sync_ffs" TIG;
#TIMESPEC TS_ddr_sync_ffs  = FROM ddr_clk   TO "ddr_sync_ffs"  TIG;
TIMESPEC TS_phy_sync_ffs  = FROM phy_clk   TO "phy_sync_ffs"  TIG;
TIMESPEC TS_adc0_sync_ffs = FROM fs0_clk   TO "adc0_sync_ffs" TIG;
TIMESPEC TS_adc1_sync_ffs = FROM fs1_clk   TO "adc1_sync_ffs" TIG;

# Exceptions for crossings via gc_sync_register
NET "*/gc_sync_register_in[*]" TNM = FFS "sync_reg";

TIMEGRP "sys_sync_reg"  = "sync_reg" EXCEPT "sys_clk";
#TIMEGRP "dmtd_sync_reg" = "sync_reg" EXCEPT "clk_dmtd";
#TIMEGRP "ddr_sync_reg"  = "sync_reg" EXCEPT "ddr_clk";
TIMEGRP "phy_sync_reg"  = "sync_reg" EXCEPT "phy_clk";
TIMEGRP "adc0_sync_reg" = "sync_reg" EXCEPT "fs0_clk";
TIMEGRP "adc1_sync_reg" = "sync_reg" EXCEPT "fs1_clk";

TIMESPEC TS_sys_62m5_sync_reg = FROM sys_clk_62_5    TO "sys_sync_reg"  16ns DATAPATHONLY;
TIMESPEC TS_sys_125m_sync_reg = FROM clk_125m_pllref TO "sys_sync_reg"  8ns  DATAPATHONLY;
#TIMESPEC TS_dmtd_sync_reg     = FROM clk_dmtd        TO "dmtd_sync_reg" 16ns DATAPATHONLY;
#TIMESPEC TS_ddr_sync_reg      = FROM ddr_clk         TO "ddr_sync_reg"  3ns  DATAPATHONLY;
TIMESPEC TS_phy_sync_reg      = FROM phy_clk         TO "phy_sync_reg"  8ns  DATAPATHONLY;
TIMESPEC TS_adc0_sync_reg     = FROM fs0_clk         TO "adc0_sync_reg" 10ns DATAPATHONLY;
TIMESPEC TS_adc1_sync_reg     = FROM fs1_clk         TO "adc1_sync_reg" 10ns DATAPATHONLY;

# Tightly constrain the location and max delay from the external trigger input
# to its synchroniser. This is needed to have consistent alignment between trigger
# and data across implementations. Note that due to RLOC constraints in the
# gc_sync_ffs, the synchroniser cannot be placed on the single FF of the IOB.
NET  "gen_fmc_mezzanine[?].*/*/cmp_ext_trig_sync/gc_sync_ffs_in" MAXDELAY = 2.0 ns;
INST "gen_fmc_mezzanine[0].*/*/cmp_ext_trig_sync/sync0"       RLOC_ORIGIN = X66Y189;
INST "gen_fmc_mezzanine[1].*/*/cmp_ext_trig_sync/sync0"       RLOC_ORIGIN = X69Y2;
