*~
.*cmd
.*ersions
*.o
*.ko
*.order
*.symvers
*.mod.c
*.lof
*.bib
*.bbl
*.blg
*.out
*.a
\#*\#
*.sh
# eclipse files
.pydevproject
.cproject
.project
.settings
# binary
tools/fau-acq-time
tools/fau-trg-config
tools/parport-burst
libtools/fald-simple-acq
libtools/fald-simple-get-conf
lib/.depend