.*
*~
.*cmd
.*ersions
*.o
*.ko
*.order
*.symvers
*.mod.c
*.pdf
*.toc
*.aux
*.log
*.lof
*.bib
*.bbl
*.blg
*.dvi
*.out
*.a
\#*\#
*.sh
# eclipse files
.pydevproject
.cproject
.project
.settings
# binary
tools/fau-acq-time
tools/fau-trg-config
tools/parport-burst
lib/demo/fald-simple-acq

