*~
.*cmd
.*ersions
*.o
*.ko
*.order
*.symvers
*.mod.c
*.o.d
*.tmp
*.lof
*.bib
*.bbl
*.blg
*.out
*.a
\#*\#
*.sh
Makefile.specific
# eclipse files
.pydevproject
.cproject
.project
.settings
TAGS*
*.unsigned
GTAGS
GPATH
GRTAGS